@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --data-color-white: #fff;
  --data-color-black: #000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--data-color-white);
  background: linear-gradient(128.49deg, #E5F4FF 0%, #F9E9FF 100%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 380px;
  height: 226px;
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-1 {
  background-image: url("../img/bg-1.jpg");
}

.card-2 {
  background-image: url("../img/bg-2.jpg");
}

.card-3 {
  background-image: url("../img/bg-3.jpg");
}

.card .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
}

.card__logo {
  height: 30px;
}

.card__logo img {
  height: 100%;
}

.card__logo--visa {
  height: 24px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__info--black {
  color: var(--data-color-black);
}

.card__left-box, .card__right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__right-box {
  text-align: right;
}

.card__holder {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.card__number {
  letter-spacing: 1px;
}

.card__expiry {
  font-size: 12px;
  font-weight: 300;
  margin-top: 6px;
}

.card__date {
  font-weight: 700;
  letter-spacing: 2px;
}
